/* @import url("fonts.css"); */


/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */

[class*="__container"] {
	max-width: 1299px;
	margin: 0 auto;
	padding: 0 15px;
}

